!!!
%html
  %head
    %title= form.name
    = stylesheet_link_tag 'form'
  %body
    = form_for(submission, url: submit_path(params[:permalink])) do |f|
      .field
        = f.label :fullname
        = f.text_field :fullname, required: true
      .field
        = f.label :email
        = f.email_field :email, required: true
      .field
        = f.label :age
        = f.number_field :age, required: true
      .field
        = f.label :experience
        %p Help us to understand how much experience you already have so that we can assign you to the right group, where you can learn the most.
        %table
          %tr
            %th
            - submission.experience_answers.each do |answer|
              %th= answer
          - submission.experience_technologies.each do |symbol, technology|
            %tr
              %td= technology
              - submission.experience_answers.each do |answer|
                %td.answer
                  %span= radio_button_tag("submission[experience][#{symbol}]", answer)
      .field
        = f.label :english, 'How fluent are you in English?'
        .radio-group
          = f.collection_radio_buttons :english, submission.english_answers, :to_s, :to_s
      .field
        = f.label :os, 'What operating system are you using?'
        .radio-group
          = f.collection_radio_buttons :os, submission.os_answers, :to_s, :to_s
      .field
        = f.label :reason, 'Why do you want to participate in Rails Girls Kraków? What are your expectations?'
        = f.text_area :reason, rows: 4, required: true
      .field
        = f.label :extra, 'Is there anything in particular we should be aware of to make your attendance better/easier?'
        = f.text_area :extra, rows: 4
      = f.submit 'Send'
