%header
  %h1 Rails Girls Kraków
  %p.date 15-16 May 2015
  = link_to 'railsgirls.com/krakow', 'http://railsgirls.com/krakow'

= simple_form_for(submission, url: submit_path) do |f|
  = f.input :fullname, required: true
  = f.input :email, as: :email, required: true
  = f.input :age, as: :integer, required: true, input_html: { min: 0 }
  = f.input :about, as: :text, required: true, label: 'Who are you? Tell us a little bit about yourself', input_html: { rows: 2 }

  .input
    = f.label :experience, required: true

    %span.hint Help us to understand how much experience you already have so that we can assign you to the right group, where you can learn the most.

    %table
      %tr
        %th
        - Submission.experience_answers.each do |answer|
          %th= answer
      - Submission.experience_technologies.each do |symbol, technology|
        %tr
          %td= technology
          - Submission.experience_answers.each do |answer|
            %td.answer
              %span= radio_button_tag("submission[experience][#{symbol}]", answer)

    = f.error :experience

  = f.input :english, required: true, as: :radio_buttons, collection: Submission.english_answers, label: 'How fluent are you in English?'
  = f.input :os, required: true, as: :radio_buttons, collection: Submission.os_answers, label: 'What operating system do you use?'
  = f.input :been_before, required: true, as: :radio_buttons, label: 'Have you participated in Rails Girls before?'
  = f.input :reason, as: :text, required: true, label: 'How are you going to use the knowledge acquired during the workshop? What are your goals and expectations?', input_html: { rows: 8 }

  = f.input :extra, as: :text, label: 'Is there anything in particular we should be aware of to make your attendance better/easier?', hint: "E.g. I'm vegan, I'm shortsighted", input_html: { rows: 4 }

  = f.submit 'Send'
