<div class='rating'>
  <h2>Oceny</h2>
  <p>
    {{#each defaultRates as |rate|}}
      <button class='rate' {{action 'rate' model rate}}>{{rate}}</button>
    {{/each}}
  </p>
  {{#if model.rates}}
    {{#unless pending_submission}}
      <p>Średnia ocen: {{average_rate}}</p>
    {{/unless}}
    <ul>
      {{#each model.rates as |rate|}}
        <li>{{rate.nickname}}: {{rate.value}}</li>
      {{/each}}
    </ul>
  {{else}}
    <p>Brak ocen.</p>
  {{/if}}
</div>
