<h1> {{model.displayed_position}}. {{model.fullname}} </h1>
<table>
  <tr>
    <th>Status</th>
    <td id="submission-status">{{model.status}}</td>
  </tr>
  <tr>
    <th>Data rejestracji</th>
    <td>{{model.created_at}}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>{{model.email}}</td>
  </tr>
  <tr>
    <th>Age</th>
    <td>{{model.age}}</td>
  </tr>
  <tr>
    <th>About</th>
    <td>{{model.about}}</td>
  </tr>
  <tr>
    <th>Experience</th>
    <td>
      <table>
        <tr>
          <td>HTML</td>
          <td>{{model.experience.html}}</td>
        </tr>
        <tr>
          <td>CSS</td>
          <td>{{model.experience.css}}</td>
        </tr>
        <tr>
          <td>JS</td>
          <td>{{model.experience.js}}</td>
        </tr>
        <tr>
          <td>Databases</td>
          <td>{{model.experience.databases}}</td>
        </tr>
        <tr>
          <td>Rails</td>
          <td>{{model.experience.rails}}</td>
        </tr>
        <tr>
          <td>Programming</td>
          <td>{{model.experience.programming}}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <th>How fluent are you in English?</th>
    <td>{{model.english}}</td>
  </tr>
  <tr>
    <th>What operating system are you using?</th>
    <td>{{model.os}}</td>
  </tr>
  <tr>
    <th>Have you participated in Rails Girls before?</th>
    <td>{{model.been_before}}</td>
  </tr>
  <tr>
    <th>Why do you want to participate in Rails Girls Kraków? What are your expectations?</th>
    <td>{{model.reason}}</td>
  </tr>
  <tr>
    <th>Is there anything in particular we should be aware of to make your attendance better/easier?</th>
    <td>{{model.extra}}</td>
  </tr>
  <tr>
    <th>Codecademy</th>
    <td>{{model.codecademy_username}}</td>
  </tr>
</table>
{{ log model }}
