<div class='submission-header'>
  <span>Imię</span>
  <span>Wiek</span>
  <span>Średnia ocena</span>
  <span>Ilość ocen</span>
  <span>Data rejestracji</span>
</div>
<ol class='submission-list'>
  {{#each model.submissions as |submission|}}
    <li>
      <span>{{SubmissionLink submission}}</span>
      <span>{{submission.age}}</span>
      <span>{{submission.average_rate}}</span>
      <span>{{submission.rates_count}}</span>
      <span>{{submission.created_at}}</span>
    </li>
  {{/each}}
</ol>
