<h1>Edycja formularza</h1>

<form {{action 'submit' on='submit'}}>
  <div class='field'>
    <label>Nazwa</label>
    {{focus-input name='name' value=model.name}}
  </div>
  <div class='field'>
    <label>Link</label>
    {{location.origin}}/
    {{input type='text' name='permalink' value=model.permalink}}
  </div>
  <button {{action 'submit'}}>Zapisz</button>
  <button {{action 'cancel'}}>Anuluj</button>
</form>
