<h1>Formularz</h1>

<button {{action 'edit'}}>Edytuj</button>

<p>
  <strong>Nazwa:</strong>
  {{model.name}}
</p>
<p>
  <strong>Link:</strong>
  <a target="_blank" {{bind-attr href='model.permalink'}}>{{location.origin}}/{{model.permalink}}</a>
</p>
